@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-info">HERITAGE WOODS</h1>
    <h2 class="text-center">Furniture Retail Store</h2>

    <div>
        <h5>Buy/Sell Old/New Furniture as per your needs</h5>
    </div>
    <marquee scrollamount="10">
        <img src="~/Images/LOGO.png" style="height:15%;width:50%;opacity:0.8"  />
        <img src="~/Images/als.jpg" style="height: 15%; width: 50%;opacity:0.8" />
        <img src="~/Images/als3.jpg" style="height: 15%; width: 50%;opacity:0.8" />
        <img src="~/Images/als5.jpg" style="height: 15%; width: 50%;opacity:0.8" />
    </marquee>

</div>

